@font-face {
  font-family: 'Myriad-Pro-Regular';
  src: url('../font/Myriad-Pro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad-Pro-bold';
  src: url('../font/Myriad-Pro-bold.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Courier-new-psmt';
  src: url('../font/courier-new-psmt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CourierNewPS';
  src: url('../font/CourierNewPS.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

:root {
  --fs-text: 10px
}

.link-bar-wrapper-pdf {
  height: 36px;
}

.link-bar-wrapper-pdf-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  height: 19px;
  color: #FFFFFF;
}

main {
  background-color: aliceblue;
  padding-bottom: 150px;
}

.pdf-container {
  width: 680px;
  padding: 90px 84px 456px 72px;
  margin: 0 auto;
  background-color: #FFFFFF;
  transform: scale(0.6);
  margin-top: -176px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.logo {
  width: 208px;
  margin-bottom: 33px;
}

h1 {
  font-size: calc(var(--fs-text) * 1.54);
  font-family: 'Myriad-Pro-Regular';
  margin-bottom: 18px;
}

.text {
  font-size: var(--fs-text);
  line-height: 1.3;
  font-family: 'Myriad-Pro-Regular';
}

.text:nth-of-type(1) {
  margin-bottom: 15px;
}

.text:nth-of-type(2) {
  margin-bottom: 33px;
}

.info-name {
  font-size: calc(var(--fs-text) * 0.715);
  font-family: 'Myriad-Pro-bold';
  margin-bottom: 23px;
}

#fullname {
  font-family: 'CourierNewPS';
  margin-left: 5px;
}

.table-list {
  display: flex;
}

.table-list-item {
  font-size: calc(var(--fs-text) * 0.715);
  margin-right: 17px;
}

.table-list-item p {
  font-family: 'Myriad-Pro-bold';
  margin-bottom: 20px;
  margin-left: 2.4px;
}

.table-list-item span {
  font-family: 'Courier-new-psmt';
}

@media screen and (max-width: 500px) {
  main {
    max-width: 500px;
    overflow: auto;
  }
}